USE [master]
GO
/****** Object:  Database [LibraryManager_V2]    Script Date: 21/03/2026 6:50:08 CH ******/
CREATE DATABASE [LibraryManager_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManager_V2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryManager_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManager_V2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LibraryManager_V2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManager_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManager_V2]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Available] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ShelfLocation] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthor]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthor](
	[BookID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthor] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCode]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCode](
	[BookCodeID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[BookCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookFile]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookFile](
	[BookFileID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NULL,
	[FileSize] [bigint] NULL,
	[UploadAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookPrice]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPrice](
	[BookID] [int] NOT NULL,
	[PriceID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_BookPrice] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[PriceID] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[BorrowID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[BorrowDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReturnDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowItem]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowItem](
	[BorrowID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_BorrowItem] PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[Note] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](100) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffRole]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffRole](
	[StaffID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_StaffRole] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 21/03/2026 6:50:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[ClassName] [nvarchar](100) NULL,
	[FacultyName] [nvarchar](100) NULL,
	[AccountStatus] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [AuthorName]) VALUES (1, N'Robert C. Martin')
INSERT [dbo].[Author] ([AuthorID], [AuthorName]) VALUES (2, N'Nguyễn Nhật Ánh')
INSERT [dbo].[Author] ([AuthorID], [AuthorName]) VALUES (3, N'Adam Smith')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookID], [BookName], [Quantity], [Available], [CategoryID], [PublisherID], [Description], [ShelfLocation], [ImageUrl]) VALUES (4, N'Mắt Biếc', 15, 15, 3, 3, NULL, NULL, NULL)
INSERT [dbo].[Book] ([BookID], [BookName], [Quantity], [Available], [CategoryID], [PublisherID], [Description], [ShelfLocation], [ImageUrl]) VALUES (5, N'The Wealth of Nations', 8, 8, 2, 2, NULL, NULL, NULL)
INSERT [dbo].[Book] ([BookID], [BookName], [Quantity], [Available], [CategoryID], [PublisherID], [Description], [ShelfLocation], [ImageUrl]) VALUES (6, N'Cho tôi xin một vé đi tuổi thơ', 15, 11, 1, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookFile] ON 

INSERT [dbo].[BookFile] ([BookFileID], [BookID], [StaffID], [FileName], [FileUrl], [FileType], [FileSize], [UploadAt], [IsActive]) VALUES (1, 13, 10, N'hung.pdf', N'123', N'pdf', 2, CAST(N'2026-03-21T11:36:24.6473556' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[BookFile] OFF
GO
INSERT [dbo].[BookPrice] ([BookID], [PriceID], [StartDate], [EndDate]) VALUES (4, 9, CAST(N'2026-03-04' AS Date), NULL)
INSERT [dbo].[BookPrice] ([BookID], [PriceID], [StartDate], [EndDate]) VALUES (5, 10, CAST(N'2026-03-04' AS Date), NULL)
INSERT [dbo].[BookPrice] ([BookID], [PriceID], [StartDate], [EndDate]) VALUES (8, 1, CAST(N'2025-01-01' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Borrow] ON 

INSERT [dbo].[Borrow] ([BorrowID], [StudentID], [StaffID], [BorrowDate], [DueDate], [Status], [ReturnDate]) VALUES (1, 11, 2, CAST(N'2025-01-01' AS Date), CAST(N'2025-01-15' AS Date), N'Returned', CAST(N'2025-01-14' AS Date))
INSERT [dbo].[Borrow] ([BorrowID], [StudentID], [StaffID], [BorrowDate], [DueDate], [Status], [ReturnDate]) VALUES (2, 11, 2, CAST(N'2026-02-10' AS Date), CAST(N'2026-02-24' AS Date), N'Borrowing', NULL)
INSERT [dbo].[Borrow] ([BorrowID], [StudentID], [StaffID], [BorrowDate], [DueDate], [Status], [ReturnDate]) VALUES (13, 1, 11, CAST(N'2026-03-04' AS Date), CAST(N'2026-03-11' AS Date), N'Returned', CAST(N'2026-03-10' AS Date))
SET IDENTITY_INSERT [dbo].[Borrow] OFF
GO
INSERT [dbo].[BorrowItem] ([BorrowID], [BookID], [Quantity]) VALUES (13, 12, 1)
INSERT [dbo].[BorrowItem] ([BorrowID], [BookID], [Quantity]) VALUES (14, 11, 1)
INSERT [dbo].[BorrowItem] ([BorrowID], [BookID], [Quantity]) VALUES (15, 12, 1)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (8, N'Công nghệ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (11, N'Economics')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Fiction')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[OrderDetail] ([OrderID], [BookID], [Quantity], [UnitPrice]) VALUES (1, 11, 1, CAST(320000.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderDetail] ([OrderID], [BookID], [Quantity], [UnitPrice]) VALUES (2, 9, 1, CAST(200000.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderDetail] ([OrderID], [BookID], [Quantity], [UnitPrice]) VALUES (3, 8, 1, CAST(120000.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [StudentID], [StaffID], [OrderDate], [TotalAmount], [Status]) VALUES (1, 1, 10, CAST(N'2026-03-03' AS Date), CAST(320000.00 AS Decimal(12, 2)), N'Approved')
INSERT [dbo].[Orders] ([OrderID], [StudentID], [StaffID], [OrderDate], [TotalAmount], [Status]) VALUES (2, 1, 10, CAST(N'2026-03-04' AS Date), CAST(200000.00 AS Decimal(12, 2)), N'Approved')
INSERT [dbo].[Orders] ([OrderID], [StudentID], [StaffID], [OrderDate], [TotalAmount], [Status]) VALUES (3, 1, 10, CAST(N'2026-03-05' AS Date), CAST(120000.00 AS Decimal(12, 2)), N'Approved')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Price] ON 

INSERT [dbo].[Price] ([PriceID], [Amount], [Currency], [Note]) VALUES (1, CAST(120000.00 AS Decimal(12, 2)), N'VND', N'Giá bìa')
INSERT [dbo].[Price] ([PriceID], [Amount], [Currency], [Note]) VALUES (2, CAST(85000.00 AS Decimal(12, 2)), N'VND', N'Giá khuyến mãi')
INSERT [dbo].[Price] ([PriceID], [Amount], [Currency], [Note]) VALUES (3, CAST(200000.00 AS Decimal(12, 2)), N'VND', N'Giá nhập khẩu')
SET IDENTITY_INSERT [dbo].[Price] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (17, N'Nhà xuất bản Giáo dục')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (19, N'Nhà xuất bản Kim Đồng')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (20, N'Nhà xuất bản Thế Giới')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Assistant')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Librarian')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [StaffName], [Username], [Password], [Email]) VALUES (1, N'Pham Van D', N'staff_1', N'1', NULL)
INSERT [dbo].[Staff] ([StaffID], [StaffName], [Username], [Password], [Email]) VALUES (2, N'Hoang Thi E', N'staff_2', N'1', NULL)
INSERT [dbo].[Staff] ([StaffID], [StaffName], [Username], [Password], [Email]) VALUES (3, N'Nguyễn Văn A', N'staff_3', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
INSERT [dbo].[StaffRole] ([StaffID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[StaffRole] ([StaffID], [RoleID]) VALUES (2, 2)
INSERT [dbo].[StaffRole] ([StaffID], [RoleID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [StudentName], [Email], [Phone], [AvatarUrl], [ClassName], [FacultyName], [AccountStatus], [CreatedAt]) VALUES (1, N'Pham Duy Hung', N'hunghocfpt@gmail.com', N'0123456789', NULL, NULL, NULL, N'Active', CAST(N'2026-03-21T18:04:05.057' AS DateTime))
INSERT [dbo].[Student] ([StudentID], [StudentName], [Email], [Phone], [AvatarUrl], [ClassName], [FacultyName], [AccountStatus], [CreatedAt]) VALUES (2, N'Tran Thi B', N'ttb@example.com', N'0987654321', NULL, NULL, NULL, N'Active', CAST(N'2026-03-21T18:04:05.057' AS DateTime))
INSERT [dbo].[Student] ([StudentID], [StudentName], [Email], [Phone], [AvatarUrl], [ClassName], [FacultyName], [AccountStatus], [CreatedAt]) VALUES (3, N'Le Van C', N'lvc@example.com', N'0912345678', NULL, NULL, NULL, N'Active', CAST(N'2026-03-21T18:04:05.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookCode__0A5FFCC7E93EAD05]    Script Date: 21/03/2026 6:50:09 CH ******/
ALTER TABLE [dbo].[BookCode] ADD UNIQUE NONCLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookFile_BookID]    Script Date: 21/03/2026 6:50:09 CH ******/
CREATE NONCLUSTERED INDEX [IX_BookFile_BookID] ON [dbo].[BookFile]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookFile_StaffID]    Script Date: 21/03/2026 6:50:09 CH ******/
CREATE NONCLUSTERED INDEX [IX_BookFile_StaffID] ON [dbo].[BookFile]
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E0833F0940]    Script Date: 21/03/2026 6:50:09 CH ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Publishe__5F0E2249DA2B225E]    Script Date: 21/03/2026 6:50:09 CH ******/
ALTER TABLE [dbo].[Publisher] ADD UNIQUE NONCLUSTERED 
(
	[PublisherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B6160CB5A830E]    Script Date: 21/03/2026 6:50:09 CH ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_Username]    Script Date: 21/03/2026 6:50:09 CH ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ_Staff_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Staff_Email]    Script Date: 21/03/2026 6:50:09 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Staff_Email] ON [dbo].[Staff]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__A9D10534212029C5]    Script Date: 21/03/2026 6:50:09 CH ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKfe0i52si7ybu0wjedj6motiim]    Script Date: 21/03/2026 6:50:09 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKfe0i52si7ybu0wjedj6motiim] ON [dbo].[Student]
(
	[Email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookFile] ADD  DEFAULT (sysutcdatetime()) FOR [UploadAt]
GO
ALTER TABLE [dbo].[BookFile] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Price] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_AccountStatus]  DEFAULT (N'Active') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DF_Student_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publisher] ([PublisherID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Author]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Book]
GO
ALTER TABLE [dbo].[BookCode]  WITH CHECK ADD  CONSTRAINT [FK_BookCode_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookCode] CHECK CONSTRAINT [FK_BookCode_Book]
GO
ALTER TABLE [dbo].[BookFile]  WITH CHECK ADD  CONSTRAINT [FK_BookFile_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookFile] CHECK CONSTRAINT [FK_BookFile_Book]
GO
ALTER TABLE [dbo].[BookFile]  WITH CHECK ADD  CONSTRAINT [FK_BookFile_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[BookFile] CHECK CONSTRAINT [FK_BookFile_Staff]
GO
ALTER TABLE [dbo].[BookPrice]  WITH CHECK ADD  CONSTRAINT [FK_BookPrice_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookPrice] CHECK CONSTRAINT [FK_BookPrice_Book]
GO
ALTER TABLE [dbo].[BookPrice]  WITH CHECK ADD  CONSTRAINT [FK_BookPrice_Price] FOREIGN KEY([PriceID])
REFERENCES [dbo].[Price] ([PriceID])
GO
ALTER TABLE [dbo].[BookPrice] CHECK CONSTRAINT [FK_BookPrice_Price]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Staff]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Student_Staff] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Student_Staff]
GO
ALTER TABLE [dbo].[BorrowItem]  WITH CHECK ADD  CONSTRAINT [FK_BorrowItem_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BorrowItem] CHECK CONSTRAINT [FK_BorrowItem_Book]
GO
ALTER TABLE [dbo].[BorrowItem]  WITH CHECK ADD  CONSTRAINT [FK_BorrowItem_Borrow] FOREIGN KEY([BorrowID])
REFERENCES [dbo].[Borrow] ([BorrowID])
GO
ALTER TABLE [dbo].[BorrowItem] CHECK CONSTRAINT [FK_BorrowItem_Borrow]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Book]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staff]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Student]
GO
ALTER TABLE [dbo].[StaffRole]  WITH CHECK ADD  CONSTRAINT [FK_StaffRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[StaffRole] CHECK CONSTRAINT [FK_StaffRole_Role]
GO
ALTER TABLE [dbo].[StaffRole]  WITH CHECK ADD  CONSTRAINT [FK_StaffRole_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[StaffRole] CHECK CONSTRAINT [FK_StaffRole_Staff]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD CHECK  (([Available]>=(0)))
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK_Book_Available] CHECK  (([Available]<=[Quantity]))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK_Book_Available]
GO
ALTER TABLE [dbo].[BookFile]  WITH CHECK ADD CHECK  (([FileSize] IS NULL OR [FileSize]>=(0)))
GO
ALTER TABLE [dbo].[BookPrice]  WITH CHECK ADD  CONSTRAINT [CK_BookPrice_Date] CHECK  (([EndDate] IS NULL OR [EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[BookPrice] CHECK CONSTRAINT [CK_BookPrice_Date]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD CHECK  (([Status]='Overdue' OR [Status]='Returned' OR [Status]='Borrowing'))
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [CK_Borrow_Date] CHECK  (([DueDate]>=[BorrowDate]))
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [CK_Borrow_Date]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [CK_Borrow_Status] CHECK  (([Status]='Rejected' OR [Status]='Returned' OR [Status]='Overdue' OR [Status]='Borrowing' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [CK_Borrow_Status]
GO
ALTER TABLE [dbo].[BorrowItem]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
USE [master]
GO
